# Using CountVectorizer to compute a similarity score
***Matt Paterson***<br>
***Machine Learning Engineer***<br>
***Santa Cruz, California***<br>
***10/16/2021***<br>

In this challenge, I'll take four csv's with raw data about users of a platform who view videos, review the videos, and also voluntarily submit their interests in the videos, as well as the videos and video authors. 

I will create a model and api that allows an administrator/user (comapny) to input a user_handle (customer) from the existing group of user_handle(s) and get an output of the closest users to the input user_handle.

For the Quick and Dirty model, 
- I will use a simple cosine similarity score for the users, 
- run a dbscan model as an additional input column,
- employ some Natural Language Processing techniques to find 
    - similar course tags and 
    - interest tags and 
    - assessment tags where they are inconsistent, and will 
- utilize scikit-learn's OneHotEncoder to quickly vectorize categorical data

I will then create a lookup table in DynamoDB that can store the resulting users table, allowing a RESTful API to query the database through Amazon API Gateway through the depoloyment of an Amazon SageMaker Model Endpoint.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

bucket='s3://mp-pluralsight-demo-20211016/'

from sklearn.feature_extraction.text import CountVectorizer
# Before final push, add any imports that come later in this program to this top box

## Load `course_tags.csv`, `user_assessment_scores.csv`, `user_course_views.csv`, and `user_interests.csv`
---

In [10]:
courses = pd.read_csv(bucket +'data/course_tags.csv')
print("courses.shape is", courses.shape)
courses.head()

courses.shape is (11337, 2)

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [11]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11337 entries, 0 to 11336
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   course_id    11337 non-null  object
 1   course_tags  11225 non-null  object
dtypes: object(2)
memory usage: 177.3+ KB

In [12]:
courses=courses.dropna()

In [17]:
vec = CountVectorizer()

#tokenize
vec.fit(courses.course_id)

CountVectorizer()

In [18]:
vec.vocabulary_

{'12': 182,
 'principles': 4776,
 'animation': 2239,
 'toon': 5664,
 'boom': 2480,
 'harmony': 3612,
 '1475': 431,
 '2d': 1465,
 'racing': 4907,
 'game': 3485,
 'series': 5196,
 'unity': 5771,
 '1312': 286,
 'games': 3487,
 'volume': 5876,
 '1286': 261,
 '1311': 285,
 '3d': 1601,
 'coat': 2704,
 'character': 2631,
 'concept': 2774,
 'sculpting': 5164,
 'techniques': 5564,
 '2526': 1400,
 'getting': 3513,
 'started': 5399,
 '2487': 1370,
 'integration': 3797,
 'relighting': 4986,
 'nuke': 4437,
 '1157': 144,
 'models': 4280,
 'presenting': 4764,
 'online': 4473,
 '2385': 1285,
 'pan': 4556,
 'tile': 5629,
 'sky': 5296,
 '81': 1960,
 'printing': 4780,
 'design': 2993,
 'selective': 5183,
 'laser': 3988,
 'sintering': 5276,
 'rotation': 5084,
 'trackers': 5681,
 'trigonometry': 5714,
 '284': 1450,
 '3ds': 1603,
 'max': 4178,
 '2011': 928,
 'motion': 4314,
 'graphics': 3547,
 '585': 1763,
 '2017': 935,
 'introduction': 3832,
 '2517': 1394,
 'modeling': 4279,
 'cartoon': 2580,
 'props': 4838,
 '2018': 936,
 'exploring': 3281,
 'fundamentals': 3475,
 'arnold': 2296,
 'converting': 2829,
 'photo': 4640,
 'vr': 5883,
 'set': 5209,
 '2468': 1357,
 'creating': 2865,
 'ready': 4932,
 'modular': 4288,
 'structures': 5454,
 'realistic': 4935,
 'low': 4076,
 'poly': 4707,
 'tree': 5706,
 '2420': 1317,
 'graphite': 3548,
 'tools': 5661,
 'hard': 3608,
 'surface': 5490,
 'interior': 3812,
 'lighting': 4027,
 'motionbuilder': 4315,
 '790': 1945,
 'reference': 4968,
 'library': 4022,
 'world': 6023,
 'space': 5339,
 'modifiers': 4285,
 '531': 1721,
 'ref': 4965,
 'object': 4446,
 '530': 1720,
 'rendering': 4994,
 'topology': 5669,
 'uv': 5797,
 'mapping': 4136,
 'ray': 4922,
 'photorealistic': 4648,
 'scene': 5135,
 '2424': 1321,
 '2016': 934,
 '2473': 1359,
 'studio': 5458,
 '802': 1953,
 '11': 92,
 'technology': 5566,
 'cisco': 2665,
 'wifund': 5976,
 '200': 915,
 '355': 1542,
 'abap': 2108,
 'dictionary': 3026,
 'understanding': 5766,
 'objects': 4450,
 'concepts': 2776,
 'class': 2672,
 'builder': 2530,
 'workbench': 6007,
 'big': 2438,
 'picture': 4660,
 'ableton': 2110,
 'live': 4049,
 'abstract': 2114,
 'art': 2299,
 'things': 5610,
 'just': 3933,
 'right': 5064,
 'accelerated': 2117,
 'cpp': 2856,
 'accelerating': 2118,
 'rigging': 5063,
 'maya': 4182,
 '2101': 1020,
 'char': 2630,
 'creation': 2866,
 'pipeline': 4666,
 '2040': 957,
 'face': 3315,
 'process': 4792,
 '2148': 1064,
 'access': 2120,
 '2007': 923,
 'advanced': 2169,
 'features': 3338,
 'queries': 4894,
 'tables': 5537,
 'relationships': 4981,
 '2010': 927,
 'pivottables': 4673,
 'pivot': 4671,
 'charts': 2634,
 'functions': 3472,
 '2013': 931,
 'essentials': 3238,
 'pt1': 4864,
 'pt2': 4865,
 'control': 2821,
 'ise': 3862,
 'ccnp': 2604,
 'security': 5179,
 '300': 1469,
 '208': 998,
 'sisas': 5277,
 'lists': 4047,
 'ccna': 2603,
 '125': 228,
 '100': 6,
 '105': 50,
 'accessing': 2123,
 'data': 2931,
 'fsharp': 3461,
 'type': 5742,
 'providers': 4853,
 'cost': 2844,
 'sap': 5119,
 'development': 3015,
 'system': 5530,
 'accountability': 2125,
 'five': 3377,
 'steps': 5417,
 'acrobat': 2131,
 'dc': 2949,
 'building': 2531,
 'forms': 3432,
 'action': 2136,
 'editing': 3135,
 '2386': 1286,
 'active': 2139,
 'directory': 3039,
 'programming': 4816,
 'ada': 2144,
 '2012': 929,
 'add': 2147,
 'dev': 3010,
 'console': 2801,
 'to': 5645,
 'your': 6067,
 'app': 2259,
 'with': 5998,
 'javascript': 3885,
 'increase': 3747,
 'productivity': 4801,
 'adding': 2148,
 'dynamics': 3116,
 'mermaid': 4218,
 'bifrost': 2437,
 '1909': 829,
 'facial': 3318,
 '294': 1459,
 'keyframe': 3950,
 'capture': 2568,
 '1813': 737,
 'designers': 2995,
 'guide': 3580,
 'illustrator': 3719,
 '830': 1980,
 'adfs2': 2153,
 'and': 2223,
 'wif35': 5974,
 'adfs': 2152,
 'logon': 4066,
 'server': 5198,
 'by': 2544,
 'example': 3262,
 'administering': 2157,
 'powershell': 4738,
 'elasticsearch': 3158,
 'cluster': 2696,
 'office': 4460,
 '365': 1570,
 'quick': 4898,
 'start': 5397,
 'administrating': 2158,
 'identities': 3701,
 '70': 1858,
 '346': 1511,
 'adobe': 2163,
 'analytics': 2217,
 'dynamic': 3115,
 'tag': 5544,
 'management': 4122,
 'brush': 2517,
 'cc': 2597,
 'brushes': 2519,
 'campaign': 2561,
 'v6': 5807,
 'color': 2723,
 'grading': 3540,
 'tips': 5639,
 'infusing': 3769,
 'energy': 3195,
 'illustrations': 3717,
 '2447': 1340,
 'package': 4541,
 'redesign': 4960,
 'dps': 3081,
 'wordpress': 6005,
 'content': 2816,
 'tshirt': 5722,
 'photoshop': 4650,
 'users': 5792,
 '338': 1498,
 'media': 4197,
 'encoder': 3188,
 'muse': 4343,
 'responsive': 5023,
 'single': 5274,
 'page': 4545,
 'website': 5949,
 '2478': 1363,
 'product': 4797,
 'composite': 2762,
 'fix': 3378,
 'speedgrade': 5355,
 'premiere': 4751,
 'pro': 4785,
 '2466': 1355,
 'stock': 5425,
 'story': 5432,
 'target': 5550,
 'automated': 2362,
 'personalization': 4624,
 'using': 5794,
 'shared': 5223,
 'audiences': 2346,
 'adodotnet': 2164,
 'adopting': 2165,
 'aws': 2375,
 'watch': 5918,
 'this': 5615,
 'first': 3374,
 'ads2': 2167,
 'ads': 2166,
 'part1': 4572,
 'angular': 2228,
 'workflows': 6013,
 '210': 1018,
 '260': 1425,
 'iins': 3709,
 'rigs': 5066,
 '2166': 1081,
 '2398': 1297,
 'zbrush': 6070,
 '520': 1712,
 '879': 2022,
 'clean': 2676,
 'plate': 4684,
 '2176': 1089,
 'compositing': 2763,
 '1216': 196,
 'creature': 2871,
 'painting': 4551,
 '2300': 1201,
 'defensive': 2968,
 'theories': 5606,
 '1624': 570,
 'lightroom': 4030,
 '2273': 1174,
 'editor': 3137,
 'scripting': 5158,
 'monodevelop': 4304,
 '1992': 906,
 'git': 3519,
 'js': 3921,
 'jquery': 3919,
 'pure': 4878,
 'dom': 3067,
 '2352': 1253,
 'machine': 4092,
 'learning': 4008,
 'encog': 3189,
 'fur': 3476,
 'menus': 4214,
 '263': 1428,
 'revit': 5047,
 '1509': 466,
 'network': 4391,
 'administration': 2159,
 'lfce': 4018,
 'persistent': 4619,
 'threats': 5620,
 'dsc': 3102,
 'production': 4798,
 '3dequalizer': 1602,
 '1679': 613,
 'pyqt': 4884,
 '2122': 1041,
 'python': 4886,
 'redux': 4964,
 'rigid': 5065,
 'body': 2475,
 'proxy': 4859,
 '2003': 919,
 'rotoscope': 5087,
 'keying': 3951,
 'mocha': 4269,
 '730': 1887,
 'routing': 5091,
 'salt': 5114,
 'master': 4159,
 'shading': 5217,
 '1955': 872,
 'shapes': 5222,
 '460': 1654,
 'subsurface': 5475,
 'scattering': 5133,
 'mental': 4210,
 '817': 1968,
 'vue': 5895,
 '2274': 1175,
 'theming': 5605,
 'drupal': 3098,
 'unit': 5770,
 'testing': 5588,
 'film': 3358,
 'tv': 5735,
 '2399': 1298,
 'web': 5935,
 'application': 2266,
 'penetration': 4604,
 'burp': 2538,
 'suite': 5481,
 'adv': 2168,
 'humanik': 3676,
 '640': 1800,
 'orchard': 4501,
 'sql': 5371,
 'oracle': 4499,
 'win': 5981,
 'debug': 2956,
 'part': 4571,
 'aem': 2175,
 'authoring': 2356,
 'developer': 3012,
 'projects': 4826,
 'affinity': 2177,
 'designer': 2994,
 'after': 2179,
 'effects': 3150,
 'updates': 5779,
 'tilting': 5631,
 'cinema': 2654,
 '4d': 1688,
 'lite': 4048,
 'animating': 2238,
 'lip': 4043,
 'sync': 5521,
 'music': 4344,
 'shape': 5221,
 'layers': 3997,
 'animator': 2241,
 'tracking': 5682,
 'paint': 4548,
 'puppet': 4876,
 'pin': 4663,
 'tool': 5654,
 'rotoscoping': 5088,
 'expressions': 3291,
 'made': 4098,
 'easy': 3124,
 '725': 1881,
 'team': 5559,
 'transparency': 5699,
 'blending': 2459,
 'text': 5592,
 '2481': 1366,
 'aged': 2181,
 '657': 1817,
 'age': 2180,
 'defying': 2974,
 'portrait': 4719,
 'retouching': 5037,
 '1502': 459,
 'progression': 4819,
 '2026': 943,
 'agile': 2184,
 'estimation': 3241,
 'families': 3326,
 'living': 4050,
 'change': 2624,
 'for': 3416,
 'one': 4470,
 'project': 4821,
 'real': 4933,
 'release': 4983,
 'requirements': 5009,
 'idea': 3696,
 'minimum': 4255,
 'viable': 5838,
 'practice': 4740,
 'aging': 2185,
 'characters': 2633,
 '143': 389,
 'wood': 6003,
 'metal': 4226,
 'textures': 5596,
 '826': 1977,
 'ai': 2187,
 'algorithms': 2196,
 'kismet': 3960,
 'udk': 5755,
 '1248': 226,
 'akka': 2190,
 'dotnet': 3073,
 'actor': 2142,
 'model': 4277,
 'concurrent': 2782,
 'applications': 2267,
 'distributed': 3049,
 'systems': 5532,
 'clustering': 2697,
 'reactive': 4929,
 'wpf': 6026,
 'implementing': 3733,
 'logging': 4061,
 'dependency': 2986,
 'injection': 3773,
 'improving': 3739,
 'messaging': 4223,
 'throughput': 5624,
 'persistence': 4618,
 'akkadotnet': 2191,
 'signalr': 5256,
 'stateful': 5404,
 'spas': 5346,
 'alan': 2192,
 'turing': 5729,
 'wonderful': 6002,
 'algorithmics': 2195,
 'recommendation': 4951,
 'alien': 2198,
 '682': 1841,
 'all': 2200,
 '1661': 600,
 'alm': 2203,
 'developers': 3013,
 'altering': 2207,
 'weight': 5955,
 '1968': 885,
 'alternate': 2208,
 'uses': 5793,
 'modo': 4286,
 '242': 1316,
 'alternative': 2209,
 'hair': 3594,
 '816': 1967,
 'amazing': 2211,
 'browser': 2515,
 'amazon': 2212,
 'echo': 3126,
 'developing': 3014,
 'alexa': 2194,
 'skills': 5292,
 'rds': 4926,
 'services': 5204,
 'databases': 2933,
 'in': 3740,
 'depth': 2991,
 'an': 2214,
 'abandoned': 2107,
 'city': 2669,
 '916': 2055,
 'forest': 3423,
 'entity': 3216,
 'krakatoa': 3973,
 'fusion': 3479,
 '1506': 463,
 'adventure': 2170,
 'puzzle': 4881,
 '1519': 475,
 'adaptive': 2146,
 'layout': 3998,
 'axure': 2377,
 '1757': 685,
 'african': 2178,
 'tribal': 5711,
 'mask': 4153,
 'mudbox': 4332,
 '2309': 1209,
 '1134': 124,
 'helmet': 3629,
 '2308': 1208,
 'alpha': 2204,
 'pack': 4540,
 '2192': 1101,
 'analyzing': 2220,
 'malware': 4118,
 'infections': 3758,
 'animated': 2237,
 'paper': 4562,
 'folding': 3407,
 'effect': 3146,
 '1878': 798,
 'typeface': 5744,
 '1568': 521,
 'armored': 2294,
 'beast': 2411,
 '1300': 275,
 'knight': 3966,
 '1362': 335,
 'assault': 2324,
 'rifle': 5059,
 '681': 1840,
 'ancient': 2222,
 'temple': 5575,
 '1381': 352,
 'android': 2224,
 '4whatsnew': 1692,
 'actionbar': 2137,
 'animations': 2240,
 'basics': 2403,
 'beginner': 2416,
 'inventor': 3836,
 'java': 3882,
 'platform': 4685,
 'overview': 4531,
 'custom': 2902,
 'components': 2760,
 'database': 2932,
 'sqlite': 5373,
 'binding': 2445,
 'designing': 2996,
 'layouts': 3999,
 'multiple': 4337,
 'device': 3016,
 'screens': 5154,
 'mindset': 4252,
 'dreams': 3090,
 'widgets': 5971,
 'notifications': 4427,
 'enhancing': 3206,
 'experience': 3270,
 'exposing': 3286,
 'information': 3764,
 'outside': 4524,
 'file': 3355,
 'firebase': 3370,
 'cloud': 2687,
 'storage': 5427,
 'email': 3174,
 'authentication': 2355,
 'verification': 5831,
 'fragments': 3447,
 'accessibility': 2121,
 'activities': 2141,
 'broadcast': 2511,
 'receivers': 4944,
 'intents': 3804,
 'localization': 4054,
 'internationalization': 3817,
 'realm': 4937,
 'preferences': 4747,
 'styles': 5464,
 'themes': 5604,
 'intro': 3830,
 'leveraging': 4017,
 'power': 4733,
 'location': 4055,
 'based': 2399,
 'apps': 2273,
 'managing': 4125,
 'material': 4168,
 'support': 5487,
 'tabs': 5539,
 'performance': 4611,
 'barriers': 2397,
 'overcoming': 4527,
 'common': 2740,
 'video': 5841,
 'processes': 4793,
 'threads': 5618,
 'connected': 2795,
 'ui': 5757,
 'tests': 5589,
 'espresso': 3235,
 'xamarin': 6038,
 'from': 3459,
 'store': 5428,
 'electronics': 3163,
 'ad': 2143,
 '1137': 127,
 'newsletter': 4400,
 'dreamweaver': 3091,
 '1755': 683,
 'endless': 3192,
 'runner': 5099,
 'mobile': 4265,
 '1764': 690,
 'end': 3191,
 'look': 4070,
 'update': 5778,
 'manage': 4120,
 'state': 5403,
 'prime': 4774,
 'ng': 4403,
 'aspnetcore': 2320,
 'restful': 5026,
 'best': 2429,
 'practices': 4741,
 'spa': 5338,
 'framework': 3452,
 'business': 2540,
 'cli': 2677,
 'angularfire2': 2231,
 'angularjs': 2232,
 'directive': 3037,
 'bootstrap': 2484,
 'mvc5': 4351,
 'get': 3512,
 'line': 4038,
 'of': 4459,
 'ngmock': 4405,
 'patterns': 4590,
 'code': 2708,
 'php': 4651,
 'site': 5278,
 'playbook': 4689,
 'svg': 5499,
 'scalable': 5126,
 'graphs': 3550,
 'nodejs': 4415,
 'typescript': 5747,
 'angularui': 2233,
 'api': 2256,
 'front': 3460,
 'back': 2381,
 'illustrated': 3714,
 'title': 5642,
 'sequence': 5194,
 '1938': 857,
 'animal': 2234,
 '2224': 1132,
 'substance': 5474,
 'painter': 4550,
 'animate': 2236,
 'air': 2188,
 'desktop': 3001,
 'walk': 5904,
 'cycle': 2917,
 'anime': 2243,
 'syncing': 5522,
 '1516': 472,
 'turntable': 5732,
 'ae': 2174,
 '815': 1966,
 'social': 5313,
 'banners': 2395,
 'flash': 3385,
 '1857': 777,
 'rig': 5061,
 'bouncing': 2491,
 'ball': 2392,
 '2376': 1277,
 '1600': 551,
 'retro': 5039,
 'logo': 4065,
 '1042': 43,
 'mechanics': 4196,
 '1488': 442,
 'acrobatic': 2132,
 'fight': 3352,
 '1478': 434,
 'between': 2432,
 'ik': 3711,
 'fk': 3381,
 '745': 1903,
 'burglar': 2536,
 '1682': 615,
 '3485': 1519,
 'eyes': 3309,
 '1996': 910,
 'cellular': 2610,
 'behavior': 2420,
 '1116': 109,
 'futuristic': 3481,
 '1112': 105,
 'artaephotoshop': 2300,
 'storyboards': 5435,
 '1814': 738,
 'creatures': 2872,
 'insects': 3781,
 '3523': 1534,
 'dialogue': 3025,
 '1291': 266,
 'extreme': 3306,
 'inbetweens': 3741,
 'smears': 5307,
 '1127': 118,
 '775': 1930,
 'forces': 3420,
 'nature': 4368,
 '1508': 465,
 'biped': 2447,
 '1775': 699,
 '475': 1669,
 'geometric': 3509,
 '1213': 193,
 'grappling': 3551,
 'hook': 3652,
 '814': 1965,
 'logos': 4067,
 '326': 1489,
 'infographic': 3762,
 '1149': 136,
 'particles': 4579,
 '1179': 164,
 'matte': 4174,
 '1289': 263,
 'mountain': 4318,
 '1453': 412,
 'multi': 4333,
 'plane': 4678,
 '1932': 851,
 'next': 4401,
 'gen': 3501,
 '3480': 1517,
 'transitions': 5697,
 '798': 1951,
 '444': 1639,
 '446': 1641,
 '1142': 129,
 'quadrupeds': 4892,
 '1498': 453,
 '710': 1866,
 '731': 1888,
 '1505': 462,
 'short': 5243,
 'unreal': 5775,
 'engine': 3198,
 '2359': 1260,
 'time': 5633,
 'warps': 5916,
 '1055': 55,
 'vector': 5826,
 'camera': 2560,
 '882': 2026,
 'blender': 2458,
 '2311': 1211,
 'walking': 5905,
 'quadruped': 4891,
 'premium': 4755,
 '2321': 1220,
 'ask': 2312,
 'dts': 3105,
 '971': 2096,
 'blocking': 2464,
 '1073': 67,
 '1071': 65,
 '1715': 647,
 'bounce': 2490,
 '2346': 1247,
 'varying': 5817,
 'weights': 5957,
 '2348': 1249,
 '3577': 1555,
 'polishing': 4705,
 '1010': 16,
 '1031': 32,
 '1012': 18,
 'retargeting': 5032,
 '602': 1771,
 '2223': 1131,
 'tricks': 5712,
 '173': 661,
 'cs6': 2884,
 '1060': 56,
 'infectious': 3759,
 'skin': 5293,
 'parasite': 4568,
 '1551': 507,
 'walkthrough': 5906,
 '2157': 1073,
 'optimized': 4495,
 'arch': 2277,
 'visualization': 5861,
 '1359': 331,
 'ansible': 2246,
 'windows': 5988,
 'ansys': 2247,
 'aop': 2252,
 'apache': 2254,
 'ant': 2248,
 'camel': 2559,
 'flink': 3390,
 'stream': 5440,
 'processing': 4794,
 'kafka': 3936,
 'pig': 4662,
 'transformations': 5692,
 'spark': 5344,
 'beginning': 2418,
 'exploration': 3279,
 'analysis': 2215,
 'fast': 3332,
 'handling': 3602,
 'streaming': 5441,
 'storm': 5431,
 'applying': 2269,
 'install': 3790,
 'config': 2787,
 'apex': 2255,
 'absolute': 2113,
 'coding': 2710,
 'salesforce': 5113,
 'fundamental': 3474,
 'soql': 5329,
 'hp': 3665,
 'unified': 5768,
 'functional': 3469,
 'appfabriccache': 2263,
 'apple': 2264,
 'instrumentation': 3794,
 'log4net': 4060,
 'counters': 2848,
 'layer': 3994,
 'protocols': 4846,
 'applied': 2268,
 'azure': 2379,
 'image': 3721,
 '1756': 684,
 'post': 4725,
 'silhouettefx': 5259,
 '2193': 1102,
 'concrete': 2780,
 '2343': 1244,
 'repackaging': 4998,
 'orca': 4500,
 'approval': 2272,
 'archicad': 2280,
 'filters': 3362,
 'scheduling': 5141,
 'architecting': 2282,
 'solutions': 5323,
 '534': 1724,
 'infrastructure': 3767,
 'networking': 4392,
 'monitoring': 4302,
 'continuity': 2818,
 'secure': 5177,
 'resources': 5020,
 'spring': 5366,
 'architectural': 2284,
 'detailing': 3008,
 '215': 1066,
 'interiors': 3813,
 '1856': 776,
 'previsualization': 4770,
 '281': 1447,
 '75': 1907,
 '180': 725,
 'visualizations': 5862,
 'enlighten': 3207,
 '2141': 1057,
 'arduino': 2290,
 'are': 2291,
 'vol': 5874,
 'mgmt': 4233,
 'exterior': 3300,
 'strategies': 5438,
 'artist': 2304,
 '765': 1922,
 '584': 1762,
 '59': 1764,
 'smoke': 5308,
 '923': 2062,
 'artistic': 2305,
 '67': 1827,
 'playing': 4691,
 'cards': 2574,
 '2235': 1142,
 'water': 5920,
 'drops': 3097,
 '1418': 380,
 'artists': 2306,
 '156': 513,
 'mel': 4204,
 '1326': 297,
 '1405': 369,
 'renderman': 4996,
 '174': 669,
 'architecture': 2285,
 'asa': 2311,
 'threat': 5619,
 '206': 976,
 'senss': 5191,
 '928': 2066,
 '936': 2073,
 '973': 2098,
 '981': 2100,
 'aspdotnet4': 2315,
 'delta': 2978,
 'aspdotnet': 2314,
 'ef7': 3143,
 'asp': 2313,
 'dot': 3071,
 'net': 4386,
 'topics': 5667,
 'ajax': 2189,
 'jscript': 3923,
 'bestpractices': 2430,
 'core': 2838,
 'upgrading': 5782,
 'aspdotnetcore': 2316,
 'efcore': 3145,
 'securing': 5178,
 'deep': 2965,
 'dive': 3051,
 'migrating': 4244,
 'legacy': 4010,
 'http': 3670,
 'modules': 4291,
 'msbuild': 4327,
 'tooling': 5657,
 'mvc': 4347,
 'enterprise': 3211,
 'oauth': 4444,
 'oauth2': 4445,
 'openid': 4480,
 'connect': 2794,
 'razor': 4925,
 'helpers': 3632,
 'identity': 3702,
 'mvc2': 4348,
 'mvc3': 4349,
 'scratch': 5151,
 'umbraco': 5761,
 'odata': 4458,
 'v4': 5805,
 'secrets': 5175,
 'revealed': 5042,
 'webforms4': 5940,
 'xml': 6048,
 'reporting': 5004,
 'aspect': 2317,
 'oriented': 4509,
 'aspectj': 2318,
 'aspnet': 2319,
 ...}

In [6]:
#courses.groupby('course_id').sum()a
courses[courses['course_id']=='artists-guide-mel-3163']

                  course_id course_tags
983  artists-guide-mel-3163         NaN

In [7]:
courses_wide = pd.get_dummies(courses, columns=['course_id'])

In [8]:
courses_wide.shape

(11337, 5943)

In [9]:
#courses_wide.groupby('')

In [10]:
courses

                                               course_id       course_tags
0         12-principles-animation-toon-boom-harmony-1475      2d-animation
1                     2d-racing-game-series-unity-5-1312       game-design
2                    2d-racing-games-unity-volume-2-1286          game-art
3                    2d-racing-games-unity-volume-2-1286  digital-painting
4                    2d-racing-games-unity-volume-2-1286     image-editing
...                                                  ...               ...
11332  zombie-photo-manipulation-techniques-photoshop...     image-editing
11333                        z-os-mainframe-introduction         mainframe
11334             z-os-tso-ispf-environment-introduction         mainframe
11335                       zsphere-modeling-zbrush-3505       3d-modeling
11336                       zsphere-modeling-zbrush-3505      3d-sculpting

[11337 rows x 2 columns]

In [11]:
courses=courses_wide.copy()

In [12]:
course_titles=[]
course_titles=courses.drop(columns='course_tags').columns
len(course_titles)

5942

In [13]:
assess = pd.read_csv(bucket +'data/user_assessment_scores.csv')
print("assess.shape is", assess.shape)
assess.head()

assess.shape is (6571, 4)

   user_handle assessment_tag user_assessment_date  user_assessment_score
0         7487     angular-js  2017-08-11 19:03:38                    134
1         7487            css  2017-08-11 20:09:56                     38
2         7487          html5  2017-07-31 18:59:37                     84
3         7487           java  2017-07-31 18:49:27                    149
4         7487     javascript  2017-07-31 19:05:03                     92

In [14]:
assess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6571 entries, 0 to 6570
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_handle            6571 non-null   int64
 1   assessment_tag         6571 non-null   object
 2   user_assessment_date   6571 non-null   object
 3   user_assessment_score  6571 non-null   int64
dtypes: int64(2), object(2)
memory usage: 205.5+ KB

In [15]:
assess

      user_handle assessment_tag user_assessment_date  user_assessment_score
0            7487     angular-js  2017-08-11 19:03:38                    134
1            7487            css  2017-08-11 20:09:56                     38
2            7487          html5  2017-07-31 18:59:37                     84
3            7487           java  2017-07-31 18:49:27                    149
4            7487     javascript  2017-07-31 19:05:03                     92
...           ...            ...                  ...                    ...
6566          958        node-js  2017-04-26 20:36:35                    245
6567         8887     angular-js  2016-09-30 22:30:48                    221
6568         8887         docker  2017-03-24 17:55:06                    148
6569         8887          html5  2017-02-10 16:38:53                    241
6570         4440        c-sharp  2017-09-04 15:58:48                    126

[6571 rows x 4 columns]

In [16]:
views = pd.read_csv(bucket +'data/user_course_views.csv')
print("views.shape is", views.shape)
views.head()

views.shape is (249238, 6)

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [17]:
views[views['course_id']=='wpf-advanced-topics'].shape

(34, 6)

In [18]:
views.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249238 entries, 0 to 249237
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_handle        249238 non-null  int64
 1   view_date          249238 non-null  object
 2   course_id          249238 non-null  object
 3   author_handle      249238 non-null  int64
 4   level              249238 non-null  object
 5   view_time_seconds  249238 non-null  int64
dtypes: int64(3), object(3)
memory usage: 11.4+ MB

In [19]:
#views_dummies=pd.get_dummies(views, columns=['course_id'])

In [20]:
#views_dummies.shape

In [21]:
#views=views_dummies.copy()

In [22]:
interests = pd.read_csv(bucket +'data/user_interests.csv')
print("interests.shape is", interests.shape)
interests.head()

interests.shape is (297526, 3)

   user_handle      interest_tag        date_followed
0            1   mvc-scaffolding  2017-06-27 16:26:52
1            1              mvc2  2017-06-27 16:26:52
2            1  mvc-html-helpers  2017-06-27 16:26:52
3            1          mvc4-ioc  2017-06-27 16:26:52
4            1       mvc-testing  2017-06-27 16:26:52

In [23]:
interests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297526 entries, 0 to 297525
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_handle    297526 non-null  int64
 1   interest_tag   297526 non-null  object
 2   date_followed  297526 non-null  object
dtypes: int64(1), object(2)
memory usage: 6.8+ MB

## Drop unnecessary columns
---

For this first run through, drop all of the null values from courses as there are a small number of them--112/11337

In [24]:
courses = courses.dropna()

## Merge into a single dataframe
---

Use the user_handle column to merge three of the dataframes and course_id to merge the other

In [25]:
def make_dfs():
    '''
    return updated list with each df for parsing
    '''
    return [courses, assess, views, interests]

In [26]:
dfs=make_dfs()
df_names=['courses', 'assess', 'views', 'interests']

In [27]:
for df in dfs:
    print(df.shape)

(11225, 5943)
(6571, 4)
(249238, 6)
(297526, 3)

In [28]:
for i in range(len(dfs)):
    print("***" + df_names[i] + "***")
    print(dfs[i].dtypes)

***courses***
course_tags                                                      object
course_id_12-principles-animation-toon-boom-harmony-1475          uint8
course_id_2d-racing-game-series-unity-5-1312                      uint8
course_id_2d-racing-games-unity-volume-2-1286                     uint8
course_id_2d-racing-games-unity-volume-4-1311                     uint8
                                                                  ...
course_id_zend-db-deep-dive                                       uint8
course_id_zmodeler-workflows-2091                                 uint8
course_id_zombie-concept-illustration-photoshop-782               uint8
course_id_zombie-photo-manipulation-techniques-photoshop-1518     uint8
course_id_zsphere-modeling-zbrush-3505                            uint8
Length: 5943, dtype: object
***assess***
user_handle               int64
assessment_tag           object
user_assessment_date     object
user_assessment_score     int64
dtype: object
***views***
user_handle           int64
view_date            object
course_id            object
author_handle         int64
level                object
view_time_seconds     int64
dtype: object
***interests***
user_handle       int64
interest_tag     object
date_followed    object
dtype: object

In [29]:
dfs[1]['user_assessment_date'].head()

0    2017-08-11 19:03:38
1    2017-08-11 20:09:56
2    2017-07-31 18:59:37
3    2017-07-31 18:49:27
4    2017-07-31 19:05:03
Name: user_assessment_date, dtype: object

In [30]:
assess.head(1)

   user_handle assessment_tag user_assessment_date  user_assessment_score
0         7487     angular-js  2017-08-11 19:03:38                    134

In [31]:
assess['user_assessment_date'] = pd.to_datetime(assess['user_assessment_date'])

In [32]:
dfs = make_dfs()

In [33]:
for i in range(len(dfs)):
    print("***" + df_names[i] + "***")
    print(dfs[i].dtypes)

***courses***
course_tags                                                      object
course_id_12-principles-animation-toon-boom-harmony-1475          uint8
course_id_2d-racing-game-series-unity-5-1312                      uint8
course_id_2d-racing-games-unity-volume-2-1286                     uint8
course_id_2d-racing-games-unity-volume-4-1311                     uint8
                                                                  ...
course_id_zend-db-deep-dive                                       uint8
course_id_zmodeler-workflows-2091                                 uint8
course_id_zombie-concept-illustration-photoshop-782               uint8
course_id_zombie-photo-manipulation-techniques-photoshop-1518     uint8
course_id_zsphere-modeling-zbrush-3505                            uint8
Length: 5943, dtype: object
***assess***
user_handle                       int64
assessment_tag                   object
user_assessment_date     datetime64[ns]
user_assessment_score             int64
dtype: object
***views***
user_handle           int64
view_date            object
course_id            object
author_handle         int64
level                object
view_time_seconds     int64
dtype: object
***interests***
user_handle       int64
interest_tag     object
date_followed    object
dtype: object

How many unique tags exist in each dataframe?

In [34]:
tags = len(courses.course_tags.value_counts())
#ids = len(courses.course_id.value_counts())

print(f"There are {tags} unique course tags")
#print(f"There are {ids} unique course ids")

There are 998 unique course tags

In [35]:
views.columns

Index(['user_handle', 'view_date', 'course_id', 'author_handle', 'level',
       'view_time_seconds'],
      dtype='object')

In [36]:
assess.columns

Index(['user_handle', 'assessment_tag', 'user_assessment_date',
       'user_assessment_score'],
      dtype='object')

In [37]:
assess_tags = len(assess.assessment_tag.value_counts())

print(f"There are {assess_tags} unique assessment tags")

There are 54 unique assessment tags

In [38]:
interest_tags = len(interests.interest_tag.value_counts())

print(f"There are {interest_tags} unique interest tags")

There are 748 unique interest tags

In [39]:
for df in dfs:
    print(df.columns)

Index(['course_tags',
       'course_id_12-principles-animation-toon-boom-harmony-1475',
       'course_id_2d-racing-game-series-unity-5-1312',
       'course_id_2d-racing-games-unity-volume-2-1286',
       'course_id_2d-racing-games-unity-volume-4-1311',
       'course_id_3d-coat-character-concept-sculpting-techniques-2526',
       'course_id_3d-coat-getting-started-2487',
       'course_id_3d-integration-relighting-nuke-1157',
       'course_id_3d-models-presenting-online-2385',
       'course_id_3d-pan-tile-sky-nuke-81',
       ...
       'course_id_zbrush-mudbox-artists-1416',
       'course_id_zbrush-reference-library-3d-brushes-547',
       'course_id_zbrush-sculpting-modular-structures-2537',
       'course_id_zbrush-sculpting-necroknight-2509',
       'course_id_zbrush-tileable-texture-creation-2438',
       'course_id_zend-db-deep-dive', 'course_id_zmodeler-workflows-2091',
       'course_id_zombie-concept-illustration-photoshop-782',
       'course_id_zombie-photo-manipulation-techniques-photoshop-1518',
       'course_id_zsphere-modeling-zbrush-3505'],
      dtype='object', length=5943)
Index(['user_handle', 'assessment_tag', 'user_assessment_date',
       'user_assessment_score'],
      dtype='object')
Index(['user_handle', 'view_date', 'course_id', 'author_handle', 'level',
       'view_time_seconds'],
      dtype='object')
Index(['user_handle', 'interest_tag', 'date_followed'], dtype='object')

In [40]:
df_names

['courses', 'assess', 'views', 'interests']

In [41]:
assess.shape

(6571, 4)

In [42]:
views.shape

(249238, 6)

## Create a `user-course` dataframe
**It should have the following columns to start**
- user_handle
- total_users_courses
- course_id
- course_tags
- first_view_date
- total_views
- avg_viewtime
- level
- author_handle
- interest_tags
- user_assessment_score
- user_avg_assess_score

**It should have a compound-index of user_handle_course_id**<br>

***On second thought, will that be helpful or only serve to delay the time to get to the MVP?***

## Create a `users` dataframe
**This should really have the user_handle as an index**


From here, create a DBScan clustering model and use the clusters from it as an additional feature.<br>

Once completed, run the cosine similarity and create a way to score the users.

This will require that we group each dataframe by the above factors

In [43]:
assess_users = len(assess.user_handle.value_counts())
interests_users = len(interests.user_handle.value_counts())
views_users = len(views.user_handle.value_counts())

print(f"There are {assess_users} user_handles in the assess df")
print(f"There are {interests_users} user_handles in the interests df")
print(f"There are {views_users} user_handles in the views df")

There are 3114 user_handles in the assess df
There are 10000 user_handles in the interests df
There are 8760 user_handles in the views df

I'll need to figure out a logic to create this table that has 
1. a unique row for each comination of user and course that the user viewed
2. the assessment and score that he user gave the course
3. linked together by the course tags, assessment tags
4. whether or not course tag or assessment tag match an interest tag from this user

In [44]:
users = pd.merge(left=interests, right=views, how='outer', left_on='user_handle', right_on='user_handle')

In [45]:
users.shape

(9474074, 8)

In [46]:
users.user_handle.value_counts().shape

(10000,)

We use the outer join merge, or otherwise keep all user_handles total, so that we can construct a dataset that includes those that never took a course but only gave their interests

In [47]:
users = pd.merge(left=users, right=assess, how='outer', left_on='user_handle', right_on='user_handle')

In [48]:
users.shape

(21951197, 11)

In [49]:
users.user_handle.value_counts().shape

(10000,)

In [50]:
#users = pd.merge(left=users, right=courses, how='outer', left_on='course_id', right_on='course_id')

In [51]:
users.shape

(21951197, 11)

In [52]:
users_dummied = pd.get_dummies(users, columns=['course_id'], sparse=True)
users_dummied.shape

(21951197, 5952)

In [53]:
users_dummied.dtypes

user_handle                                                                 int64
interest_tag                                                               object
date_followed                                                              object
view_date                                                                  object
author_handle                                                             float64
                                                                       ...
course_id_zend-db-deep-dive                                      Sparse[uint8, 0]
course_id_zmodeler-workflows-2091                                Sparse[uint8, 0]
course_id_zombie-concept-illustration-photoshop-782              Sparse[uint8, 0]
course_id_zombie-photo-manipulation-techniques-photoshop-1518    Sparse[uint8, 0]
course_id_zsphere-modeling-zbrush-3505                           Sparse[uint8, 0]
Length: 5952, dtype: object

In [54]:
len(users_dummied['interest_tag'].value_counts())

748

In [55]:
users_twice_dummied = pd.get_dummies(users_dummied, columns=['interest_tag'], sparse=True)

In [56]:
users_twice_dummied.shape

(21951197, 6699)

## Convert remaining non-numeric columns

In [57]:
for dtype in users_twice_dummied.dtypes:
    if dtype == 'object':
        print(dtype)

object
object
object
object

In [58]:
users_twice_dummied = pd.get_dummies(users_twice_dummied, columns=['level'])

In [59]:
users_twice_dummied.columns[:6]

Index(['user_handle', 'date_followed', 'view_date', 'author_handle',
       'view_time_seconds', 'assessment_tag'],
      dtype='object')

In [60]:
users_twice_dummied['view_date'] = pd.to_datetime(users_twice_dummied['view_date'])

In [61]:
len(users_twice_dummied.author_handle.value_counts())

1412

In [62]:
users_s = pd.get_dummies(users_twice_dummied, columns=['author_handle'], sparse=True)

In [63]:
users_s.shape

(21951197, 8112)

In [64]:
for dtype in users_twice_dummied.dtypes:
    if dtype == 'object':
        print(dtype)

object
object

In [65]:
users_s.dtypes[:10]

user_handle                                                            int64
date_followed                                                         object
view_date                                                     datetime64[ns]
view_time_seconds                                                    float64
assessment_tag                                                        object
user_assessment_date                                          datetime64[ns]
user_assessment_score                                                float64
course_id_12-principles-animation-toon-boom-harmony-1475    Sparse[uint8, 0]
course_id_2d-racing-game-series-unity-5-1312                Sparse[uint8, 0]
course_id_2d-racing-games-unity-volume-2-1286               Sparse[uint8, 0]
dtype: object

In [66]:
users_s = users_s.drop(columns='assessment_tag')

In [67]:
for dtype in users_s.dtypes:
    if dtype == 'object':
        print(dtype)

object

## not-so-quick but...
So we've gotten our dataset down to a 100% numeric dataset. We've eliminated the tags entirely, which will be detremental to our final goal, but will help us at least get something started.

We've One Hot Encoded all of the course ID's, the author ID's, and the levels, and thus we should be able to somewhat shrink our dataframe by grouping by the usernames...

In [69]:
users_grouped = users_s.groupby(by='user_handle')
users_s.sample()

,user_handle,date_followed,view_date,view_time_seconds,user_assessment_date,user_assessment_score,course_id_12-principles-animation-toon-boom-harmony-1475,course_id_2d-racing-game-series-unity-5-1312,course_id_2d-racing-games-unity-volume-2-1286,course_id_2d-racing-games-unity-volume-4-1311,...,author_handle_1403.0,author_handle_1404.0,author_handle_1405.0,author_handle_1406.0,author_handle_1407.0,author_handle_1408.0,author_handle_1409.0,author_handle_1410.0,author_handle_1411.0,author_handle_1412.0
6936517,1970,2017-07-07 04:42:04,2017-07-20,85.0,2016-08-25 00:47:34,113.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
users_grouped.sum()

In [71]:
#users_grouped.describe().T

In [ ]:
df_final = users_s.pivot_table( index=users_s.user_handle, aggfunc='sum')
df_final.fillna(0, inplace = True)

## Use DBScan to create clusters of users

In [72]:
from sklearn.cluster import DBSCAN

## Use Cosine Similarity Scores to compare the users to one another

## Save the dataframe to csv and consider DynamoDB, SQLite, PostreSQL, and AWS RDS